
:root {
    --grey: #c1c9c9;
    --red: #b13046;

  }
html, body, h1, h3, h4, h5, h6{
    font-family: Arial, Helvetica, sans-serif;
    margin:0; padding:0;
}
h4{
    text-transform: uppercase;
}
nav{
    background-color: var(--red);

}
nav h1{
    margin:0; 
    padding:10px;
    color: #e1e3e3;

}
nav ul{
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-top:solid;
    border-bottom:solid;
    border-color: var(--grey);
}
nav ul li{
    list-style: none;
    margin: none;
}

main{
    position: relative;
}

footer{
    background-color: var(--red);
    color: var(--grey);
    position: relative;
    text-align: center;
}


form{
    margin: 0;
    padding: 0;
    position: absolute;
    right:0;
    top:3px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    padding-bottom: 5px;
    border-bottom: solid;
    border-color: var(--grey);
}
.ad{
    
    text-align: center;


}
.ad h3{
    background-color: rgb(33, 169, 228);
    color: white;

}

.ad img{
    /* position: absolute; */
    max-width: 500px;
 
}

.card{
    max-width: 50%;
    text-align: center;
    
    border: solid;
    border-color: var( --grey);
    border-radius: 3%;
    margin: 10px;
    padding: 10px;
    background-color: var(--red);
    color:white;

}

#category-list{
    padding-bottom: 5px;
    border-bottom: solid;
    border-color: var(--grey);

}

#category-list li{
    height: 110px;
    width: 110px;
    padding: 3px;
    background-color: #e1e3e3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

}

.menu li:hover{
    columns: var(--grey);
    font-weight: bolder;
}


#staff-picks{
    justify-content: space-around;
    align-items: center;

}

#locations{
    height: 10rem;
    background-image: url("https://images.unsplash.com/photo-1526243741027-444d633d7365?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#locations div{
 
    background-color: var(--grey);
    border: none;
    padding:10px;
    color:white;
    margin: 3px;
    padding: 3px;

}
#locations div h3, #locations div h4{
    margin: 3px;
    padding: 3px;
}


#locations button{
    font-size: 2rem;
    background-color: var(--grey);
    border: none;
    padding:10px;
    color:white;
}
